

.navmenu {
    background-color: #9966CC;
    color: white !important;
}

.footer {
    background-color: #9966CC;
    padding: 1rem;
}

.logo {
    width: 50px;
    height: 50px;
    float: right;
}

.logo:hover{
    cursor: pointer;
}