

.logincard {
    margin: 5rem auto;
    padding: 3rem 4rem;
    width: 90%;
    display: block;


}

.input {
    margin: 1rem;
    padding: 1rem;
}

.addpicform {
    margin: 1rem; 
    padding: .5rem;
    
}

.divcontainer {

    margin: 5rem 0rem;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;

}