.frontbanner {
background-image: url('../assets/atfarmersmarket3.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 500px;
    
}

.mainhome {
    background-image: linear-gradient(white 20%,#ACFFFF);
}

.topbtn {
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #9966CC !important;
    border: none;
    color: black;
}
.topptags {
    font-size: 1.3rem; 
}

.ptags {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
}

.purplerow {
    background-color: #9966CC !important;

}

.smallptags {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    font-weight: bold;
}